body {
  background-color: #EEE;
}

h1, p {
  font-family: arial, sans-serif;
}

h1 {
  color: #444;
}

h1 span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

p {
  color: #666;
}

a {
  color: #FD5443;
  text-decoration: none;
}

a:hover {
  color: #222;
}

#content-container {
  background-color: #fff;

  padding: 10px 20px;
  border-radius: 5px;
  border:1px solid #aaa;

  margin: 0 auto;
  width: 640px;
}

#image-container {
  margin-top: 50px;
  text-align: center;
}

footer {
  margin: 0 auto;
  width: 640px;
}

footer p {
  text-align: center;
  color: #666;
}
