h1, p {
  font-family: arial, sans-serif;
}

h1 {
  color: #222;
}

p {
  color: #444;
}

a {
  color: #F30;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

/*#droptarget {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}*/
